lam_schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="map">
		<xs:complexType>
			<xs:sequence>
					<xs:element name="argument" type="argumentType" />
				</xs:sequence>
			</xs:complexType>
	</xs:element>

	<xs:element name="nodeType" type="xs:String">
	<xs:element name="connectionType" type="xs:String">
   

</xs:schema>