lam_schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="map">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="node" type="node" />
				<xs:element name="argument" type="argument" />
				<xs:element name="nodeType" type="xs:String" />
				<xs:element name="connectionType" type="xs:String" />
				<xs:element name="node">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeType" type="xs:String" />
							<!--<xs:element name="text" type="textBox" /> -->
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>