lam_schema.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="map" type="mapType" />
  <xsd:complexType name="mapType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="textbox" type="textboxType" />
      <xsd:element maxOccurs="unbounded" name="node" type="nodeType" />
      <xsd:element name="connection" type="connectionType" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:int" />
    <xsd:attribute name="creator" type="xsd:string" />
    <xsd:attribute name="title" type="xsd:string" />
    <xsd:attribute name="description" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="connectionType">
    <xsd:sequence>
      <xsd:element name="targetnode" type="targetnodeType" />
      <xsd:element maxOccurs="unbounded" name="sourcenode" type="sourcenodeType" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:int" />
    <xsd:attribute name="map" type="xsd:int" />
    <xsd:attribute name="type" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="sourcenodeType">
    <xsd:attribute name="id" type="xsd:int" />
  </xsd:complexType>
  <xsd:complexType name="targetnodeType">
    <xsd:attribute name="id" type="xsd:int" />
  </xsd:complexType>
  <xsd:complexType name="nodeType">
    <xsd:sequence>
      <xsd:element name="nodetext" type="nodetextType" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:int" />
    <xsd:attribute name="author" type="xsd:string" />
    <xsd:attribute name="map" type="xsd:int" />
    <xsd:attribute name="type" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="nodetextType">
    <xsd:attribute name="id" type="xsd:int" />
  </xsd:complexType>
  <xsd:complexType name="textboxType">
    <xsd:attribute name="id" type="xsd:int" />
    <xsd:attribute name="text" type="xsd:string" />
  </xsd:complexType>
</xsd:schema>