lam_schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="map">
		<xs:complexType>
			<xs:sequence>
					<xs:element name="argument" type="argumentType" />
				</xs:sequence>
			</xs:complexType>
   </xs:element>

   <xs:complexType name="nodeType">
		<xs:sequence>
			<xs:element name="objection" type="nodeType" minOccurs="0" />
			<xs:element name="question" type="nodeType" minOccurs="0" />
			<xs:element name="comment" type="nodeType" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" />
   </xs:complexType>

</xs:schema>