lam_schema.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
       <xs:element name="map">
       		<xs:complexType>
       			<xs:sequence>
						<xs:element name="argument" type="argumentType" />
					</xs:sequence>
             	</xs:complexType>
       </xs:element>

       <xs:complexType name="nodeType">
			<xs:sequence>
				<xs:element name="nodetext" />
				<xs:element name="objection" type="nodeType" minOccurs="0" />
				<xs:element name="question" type="nodeType" minOccurs="0" />
				<xs:element name="comment" type="nodeType" minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:integer" />
       </xs:complexType>

       <xs:complexType name="argumentType">
				<xs:sequence minOccurs="1">				
					<xs:element name="claim" type="nodeType" />
					<xs:element name="enabler">			
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="nodeType">
										<xs:sequence>
											<xs:element name="reason">
												<xs:complexType>
													<xs:choice>
														<xs:element name="argument" type="argumentType" />
														<xs:element name="nodetext" />
													</xs:choice>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					
				</xs:sequence>
		</xs:complexType>
</xs:schema>